
# All files
[*]
indent_style = space

# Xml files

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

#CA1812: 
dotnet_diagnostic.CA1812.severity = suggestion

[*.xml]
indent_size = 2


