
# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_code_quality.CA1031.disallowed_symbol_names = ExceptionType1|ExceptionType2


# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
