
# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CS0452.severity = none
dotnet_code_quality.CA1031.disallowed_symbol_names = NullReferenceException

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = suggestion

# CA1860: Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.CA1860.severity = suggestion

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
